body {
    font-family: Unbounded;
    font-size: 16px;
    background-image: url(2.jpg);
    opacity: 0.8;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    letter-spacing: 1px;
    margin: 0 auto;
    max-width: 700px;
}

h2 {
    text-align: center;
    text-decoration: underline;
    color: rgb(255, 3, 24);
    margin-top: 50px;
    transition: 1s;
    border-bottom: 3px solid black;
    padding-bottom: 30px;
}

h2:hover {
    transform: scale(1.1);
}

p {
    text-decoration: underline;
    font-size: 20px;
    padding-left: 10px;
}

div {
    color: rgb(68, 68, 68);
    margin: auto;
    width: 300px;
    border: 4px double rgb(247, 20, 39);
    margin-bottom: 10px;
    transition: 0.5s ease-in-out;
    transition-delay: 50ms;
    font-weight: 600;
}

div:hover {
    background-color: #faddf7;
    transform: scale(1.09);
}

div:last-of-type {
    margin-bottom: 60px;
}

@media (max-width: 479px) {
    body {
        background-size: 400% 150%; 
    }

}