body {
    font-family: Unbounded;
    font-size: 16px;
    background-color: rgb(253, 228, 245);
}

h2 {
    text-align: center;
    text-decoration: underline;
    color: rgb(247, 20, 39);
    transition: 0.5s;
    margin-top: 50px;
}

h2:hover {
    transform: scale(1.1);
}

table, tr, td {
    margin: auto;
    height: 30px;
    width: 300px;
    border: 1px solid rgb(247, 20, 39);
    transition: 0.5s ease-in-out;
    transition-delay: 50ms;

}

tr, td {
    padding: 4px 0px;
}

td:last-of-type {
    padding-left: 10px;
}

td:not(:last-child) {
    width: 40px;
    text-align: center;
}

tr:hover {
    transform: scale(1.03);
    background-color: #ffcdf3;
}

table:not(:first-of-type) {
    margin-bottom: 200px;
}