body{
    background-color: rgb(253, 228, 245);
}
h1,h2{
    text-align: center;
    text-decoration: underline;
    color: rgb(247, 20, 39);
}
table, tr, td{
    margin: auto;
    font-style: italic;
    height: 30px;
    width: 300px;
    letter-spacing: 1px;
    font-size: 20px;
    border: 2px solid rgb(247, 20, 39);
}

td:not(:last-child){
    width: 40px;
    text-align: center;
}