body{
    background-color: rgb(255, 243, 251);
}
h1,h2{
    text-align: center;
    text-decoration: underline;
    color: rgb(233, 10, 203);
}
table, tr, td{
    margin: auto;
    font-style: italic;
    height: 30px;
    width: 296px;
    letter-spacing: 1px;
    font-size: 20px;
    border: 2px solid rgb(233, 10, 203);
}

td:not(:last-child){
    width: 40px;
    text-align: center;
}