body {
    padding-top: 25px;
    font-family: Unbounded;
    font-size: 16px;
    margin: auto;
    max-width: 500px;
    background-image: url(2.jpg);
    opacity: 0.8;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 220%; 
}

h2 {
    text-align: center;
    font-size: 40px;
    color: rgb(255, 3, 24);
    border-bottom: 3px solid black;
    padding-bottom: 30px;
    transition: 1s;
}
h2:hover {
    transform: scale(1.1);
}

table, tr, td {
    margin: auto;
    height: 30px;
    width: 350px;
    border: 1px solid rgb(247, 20, 39);
    transition: 0.5s ease-in-out;
    transition-delay: 50ms;
    color: rgb(68, 68, 68);
    font-weight: 600;
}

td {
    padding-left: 10px;
}

tr,td {
    padding-top: 10px;
}
tr:hover {
    transform: scale(1.03);
    background-color: #ffcdf3;
}

tr:last-of-type {
    font-size: 20px;
}

@media (max-width: 479px) {
    body {
        background-size: 400% 200%;
        margin-bottom: 60px;
    }

}