h2 {
    text-align: center;
    font-size: 40px;
    color: rgb(66, 66, 66);
    text-decoration: underline;
    padding-bottom: 30px;
    transition: 1s;
}

h2:hover {
    transform: scale(1.1);
}

/*---------------------------------------------------*/

.main {
    margin: 0 auto;
    padding: 50px 0px 100px 0px;
    max-width: 1000px;
    background-image: url(./headerbg.jpg);
    background-size: cover;
    border: 1px solid rgb(134, 133, 133);
    border-radius: 50px;
    cursor: default;
}

table, tr, td {
    margin: 0 auto;
    color: rgb(66, 66, 66);
    font-weight: 600;
    height: 30px;
    width: 400px;
    border: 1px solid rgb(31, 31, 31);
    transition: 0.3s ease-in-out;
    transition-delay: 50ms;
}

td {
    padding-left: 10px;
}

tr,td {
    padding-top: 10px;
}
tr:hover {
    transform: scale(1.03);
    background-color: rgb(226, 226, 226);
    box-shadow: 0px 0px 10px 5px rgb(180, 180, 180);
}

tr:last-of-type {
    font-size: 22px;
    font-weight: 800;
}

/*---------------------------------------------------*/

@media (max-width: 479px) {
    

}