/*---------------------------------------------------*/
body {
    padding-top: 25px;
    font-family: Unbounded;
    font-size: 16px;
    margin: 20px auto;
    max-width: 1500px;
    background-image: url(1.jpg);
    opacity: 0.85;
    background-position: 0 0px;
    background-repeat: no-repeat;
    background-size: cover;
}
/*---------------------------------------------------*/
h1 {
    text-align: center;
    font-size: 50px;
    color: rgb(255, 0, 0);
    padding-bottom: 30px;
    transition: 1s;
    letter-spacing: 5px;
    margin-bottom: 80px;
    font-weight: 900;
}

h1:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 50px 15px rgb(255, 0, 255);
    background-color: rgb(255, 214, 255);
    border-radius: 20%;
}

.head {
    /* background-color: rgb(255, 224, 255); */
    background-image: url(2.jpg);
    max-width: 440px;
    margin: 0 auto;
    border-radius: 10%;
    height: 230px;
    padding-top: 15px;
}
/*---------------------------------------------------*/
.line {
    border-bottom: 3px solid black;
    margin: 50px 0px 90px 0px;
}
/*---------------------------------------------------*/
.container {
    display: flex;
    flex-wrap: wrap;
    background-size: 100% 100%;
    max-width: 1150px;
    margin: 0 auto;
    border-radius: 10%;
}

span{
    display: block;
    text-align: center;
}

.guests,
.invites,
.place,
.place2,
.firework,
.cake,
.drinks,
.photo,
.price {
    color: rgb(59, 0, 45);
    max-width: 1100px;
    text-align: center;
    border: 1px solid rgb(134, 133, 133);
    transition: 1s ease-in-out; 
    transition-delay: 50ms;
    text-shadow: 1px 1px 2px rgb(253, 196, 250);
    letter-spacing: 1.5px;
    background-image: url(2.jpg);
    width: 29%;
    height: 250px;
    
    border-radius: 10px;
    justify-content: space-around;
    margin: 20px;
}

.choice:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 50px 15px rgb(250, 134, 250);
    background-color: rgb(255, 214, 255);
}

a:visited {
    color: blue;
}
/*---------------------------------------------------*/
.footer {
    text-align: center;
    font-size: 23px;
    color: rgb(255, 0, 0);
    border-top: 3px solid black;
    margin-top: 80px;
    padding-top: 30px;
    text-decoration: underline;
    transition: 1s;
    padding-bottom: 50px;
    letter-spacing: 5px;
}

.footer:hover {
    transform: scale(1.2);
}
/*---------------------------------------------------*/
.card {
    background-color: rgb(255, 226, 255);
    margin: 0 auto;
    max-width: 500px;
    max-height: 500px;
    margin-bottom: 50px;
    padding: 15px;
    color: rgb(255, 0, 0);
}

.contacts {
    text-align: center;
    font-size: 22px;
    text-decoration: underline;
}

li {
    list-style: none;
    margin-top: 20px;
}

li>a {
    margin-left: 15px;
}

li>img {
    margin-bottom: -5px;
}

.list {
    display: flex;
    justify-content: space-around;
    margin-left: -50px;
}

.male {
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
}
/*---------------------------------------------------*/
@media (max-width: 479px) {
    h1 {
        font-size: 35px;
        padding: 0px 20px 0px 20px;    }
    h2 {
        position: absolute;
        top: 35%;
        transform: translateY(-35%);
        padding-left: 30px;
        padding-right: 30px;
    }

    .ftr {
        font-size: 18px;
        padding: 0px 20px 0px 20px;
    }
    body {
        background-size: cover;
        background-position: top;
    }

    .head {
        height: 180px;
        border-radius: 0px;
    }
    .head:hover{
        border-radius: 0px;
    }

    .container {
        border-radius: 0;
    }

    li>img{
      margin-left: -24px;
    }
    .guests{
        margin-top: -30px;
        margin-left: 30px;
        margin-right: 30px;
        width: 100vw;
        position: relative;
        font-size: 15px;
    }
    .invites,
    .place,
    .place2,
    .firework,
    .cake,
    .drinks,
    .photo,
    .price {
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 40px;
        width: 100vw;
        position: relative;
        font-size: 14px;
    }
    
}

